/*
 * In this file we put everything that should be shared between different apps
 * (mobile and desktop).
 */
@import (inline) '../../../node_modules/openlayers/css/ol.css';
@import (inline) '../css/reset.css';
@import '../../../node_modules/bootstrap/less/bootstrap.less';

@import 'vars.less';

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

gmf-authentication {
  padding: 10px 20px;
  display: block;
}
