/*
 * In this file we put everything related to map.
 */
gmf-map {
  position: initial;
  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.ol-zoom {
  background-color: transparent;
  right: 0;
  left: auto;
  margin: @app-margin;
  padding: 0;
  button {
    margin: 0 0 3px 0;
    height: @map-tools-size;
    width: @map-tools-size;
    background-color: @map-tools-bg-color;
    border: solid 1px @map-tools-color;
    color: @map-tools-color;
    border-radius: 0 !important;
    &:hover {
      background-color: @onhover-color;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

.ol-attribution {
  display:none;
}

.ol-scale-line, .ol-scale-line-inner {
  background-color: @map-tools-bg-color;
  border-color: @map-tools-color;
  border-width: 2px;
  color: @map-tools-color;
}
