<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <script src="https.js"></script>
    <title>NG-repeat error example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../../lib/ngeo.css" type="text/css">
    <link rel="stylesheet" href="../../lib/jquery-ui.min.css">
    <style>
      li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      .item {
        background-color: aqua;
        width: 20px;
        height: 20px;
      }
      .remove {
        cursor: pointer;
      }
      .bold {
        font-weight: bold;
      }
    </style>
  </head>
  <body ng-controller="MainController as ctrl">
    <ul ngeo-sortable="ctrl.items"
        ngeo-sortable-options="{handleClassName: 'sortable-handle', draggerClassName: 'dragger', currDragItemClassName : 'curr-drag-item'}">
        <li ng-repeat="item in ctrl.items"><span class="item sortable-handle dragger">{{item.title}}</span>&nbsp;<span class='remove' ng-click="ctrl.removeItem(item)">x</span></li>
    </ul>
    <p id="desc">Error with the ng-repeat and a DOM manipulation + suppression</p>
    <p>Steps to reproduce the problem:</p>
    <ul>
      <li>Move the [A] element hover others.</li>
      <li>Then leave it at its first place (without release it).</li>
      <li>Then delete it (click on the "x").<li>
    </ul>
    <p>All elements will be deleted</p>

    <p class="bold">Removed items</p>
    <span ng-repeat="removedItem in ctrl.removedItems">{{removedItem.title}}</span>


    <p class="bold">Current array state:</p>
    <span ng-repeat="item in ctrl.items">{{item.title}}</span>

    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/jquery-ui.min.js"></script>
    <script src="../../lib/angular.min.js"></script>
    <script src="../../lib/angular-animate.min.js"></script>
    <script src="../../lib/angular-sanitize.min.js"></script>
    <script src="../../lib/angular-touch.min.js"></script>
    <script src="../../lib/angular-gettext.min.js"></script>
    <script src="../../lib/date.min.js"></script>
    <script src="../../lib/angular-floatThead.js"></script>
    <script src="../../lib/jquery.floatThead.min.js"></script>
    <script src="../../lib/slider.min.js"></script>
    <script src="../../lib/tmhDynamicLocale.min.js" type="text/javascript"></script>
    <script src="../../lib/gmf.js"></script>
    <script src="repeaterror.js"></script>
    <script src="../../lib/watchwatchers.js"></script>
    <script>
      var gmfModule = angular.module('gmf');
      gmfModule.constant('angularLocaleScript', '../build/angular-locale_{{locale}}.js');
    </script>
  </body>
</html>
